
@model Author
@{
    ViewData["Title"] = "Edit";
}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Author Edit</h1>
        </div>
        <div class="col-md-8">
            <form method="post" asp-action="edit">
                <div class="form-group">
                    <label asp-for="Fullname">Name</label>
                    <input asp-for="Fullname" class="form-control">
                    <span class="text-danger" asp-validation-for="Fullname"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>